.card{
    display: flex;
    align-items: center;
    gap: $gap_value_horizontal / 3;

    .icon{
        max-height: $gap_value_vertical * 1.2;
    }

    .text{
        line-height: $gap_value_vertical;
        font-size: $gap_value_vertical;
    }
}

#card-link{
    padding: 0;
}