.module {
    margin-top: $gap_value_vertical;
    margin-left: $gap_value_horizontal * 2.5;
    margin-right: $gap_value_horizontal * 2.5;
    
    display: flex;
    align-items: start;
    gap: $gap_value_horizontal;
    
    .image {
        max-height: 30vh;
    }
}